{{ partial "header.html" . }}
<div class="category_page">
    <div class="container">
        <div class="row header">
            <div class="twelve columns">
                <h1>
                    {{ .Title }}
                </h1>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="breadcrumb twelve columns">
                <ul>
                    <li>
                        <p><a href="/">Home</a></p>
                    </li>
                    <li>
                        <p><a href="/kategorien">Kategorien</a></p>
                    </li>
                    {{ if .Params.parent_id }}
                        {{ range where $.Site.Pages "Params.category_id" .Params.parent_id }}
                            <li>
                                <p>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </p>
                            </li>
                        {{ end }}
                    {{ end }}
                    <li>
                        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}