{{ partial "header.html" .}}
<div class="container">
    <div class="row">
        <div class="breadcrumb twelve columns">
            <ul>
                <li>
                    <p><a href="/">Home</a></p>
                </li>
                <li>
                    <p><a href="/kategorien">{{ .Title }}</a></p>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="categories_homepage">
    <div class="container heading">
        <div class="row">
            <div class="columns twelve">
                <h1>
                    Kategorien
                </h1>
                <p class="text-container">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row categories_list">
            {{ range where .Data.Pages "Params.parent_id" 0 }}
            <div class="four md-six sm-twelve columns">
                <a href="{{ .Permalink }}">
                    <span class="image" {{ if (.Params.images)  index .Params.images 0 }}style="background-image: url('{{ index .Params.images 0 }}')"{{ end }}></span>
                </a>
                <p class="bold">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </p>
                {{ $subcategories := where $.Data.Pages "Params.parent_id" .Params.category_id }}
                {{ if $subcategories }}
                <ul>
                    {{ range $subcategories }}
                    <li>
                        <p>
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </p>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            {{ end }}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{ partial "footer.html" .}}
