//Colors
$black_dark: #000;
$black_light: #333;
$twilight_blue: #0c508c;
$pinkish_orange: #ff6730;
$warm_grey: #979797;
$silver: #c2c3c4;
$white: #fff;
$light_grey: #f7f7fa;

//Font sizes
$default_font_size: 16px;
$default_line_height: 28px;

$tablet_font_size: 14px;
$tablet_line_height: 24px;

$text_container_width: 680px;

//Grid
$default_grid_padding: 10px;
$tablet_grid_padding: 8px;
$mobile_grid_padding: 6px;

