@import "const";
.breadcrumb {
  padding: 16px 34px;
  background-color: $light_grey;
  ul {
    li {
      padding: 0;
      display: inline-block;
      p {
        display: inline;
        a, a:hover, a:active, a:visited {
          color: $black_light;
        }
      }
    }
    li:after {
      content: "\f105";
      font-family: FontAwesome;
      display: inline-block;
      margin: 0 3px;
    }
    li:last-of-type:after {
      display: none;
    }
  }
}