@import "const";
.categories_homepage {
  .heading {
    h1 {
      margin: 50px 0 45px;
    }
  }
  .categories_list {
    margin-top: 50px;
    .columns {
      margin-bottom: 45px;
    }
    span.image {
      display: block;
      height: 175px;
      background-size: cover;
      margin-bottom: 10px;
      background-color: $silver;
    }
    p {
      line-height: 32px;
    }
    ul {
      li {
        position: relative;
        padding-left: 10px;
      }
      li:before {
        content: "\f105";
        font-family: FontAwesome;
        display: inline-block;
        position: absolute;
        left: 0;
        line-height: 32px;
        font-size: 14px;
      }
    }
  }
}
.category_page {
  .header {
    height: 200px;
    line-height: 200px;
    background-color: $silver;
    .columns {
      display: inline-block;
      vertical-align: middle;
      float: none;
      padding: 0 30px;
      h1 {
        color: $white;
      }
    }
  }
}
html .layout_page_footer {
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .categories_homepage {
    .heading {
      h1 {
        margin: 30px 0;
      }
    }
    .categories_list {
      p {
        line-height: 28px;
      }
      ul {
        li:before {
          line-height: 28px;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .categories_homepage {
    .heading {
      h1 {
        margin: 23px 0 18px;
      }
    }
    .categories_list {
      .columns {
        margin-bottom: 25px;
      }
    }
  }
}