@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "const";
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $default_font_size;
  line-height: $default_line_height;
  color: $black_light;
}
h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}
h3 {
  color: $black_dark;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
p {
  font-size: $default_font_size;
  line-height: $default_line_height;
  color: $black_light;
  margin: 0;
  padding: 0;
}
a {
  color: $twilight_blue;
  text-decoration: none;
}
.bold {
  font-weight: 700;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 0;
  margin: 0;
}
.text-container {
  width: $text_container_width;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: $tablet_font_size;
    line-height: $tablet_line_height;

  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
}