.breadcrumb{padding:16px 34px;background-color:#f7f7fa}.breadcrumb ul li{padding:0;display:inline-block}.breadcrumb ul li p{display:inline}.breadcrumb ul li p a,.breadcrumb ul li p a:hover,.breadcrumb ul li p a:active,.breadcrumb ul li p a:visited{color:#333}.breadcrumb ul li:after{content:"\f105";font-family:FontAwesome;display:inline-block;margin:0 3px}.breadcrumb ul li:last-of-type:after{display:none}
