    <!-- Footer -->
    <footer>
        {{ partial "site-footer.html" . }}
    </footer>
    {{ template "_internal/google_analytics.html" . }}
    <link href="{{ .Site.BaseURL }}/css/stylesheets/wsh-theme.css" rel="stylesheet">
</body>

</html>
