<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Params.description }}">
    <meta name="author" content="">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link href="{{ .Site.BaseURL }}/css/stylesheets/wsh-theme.css" rel="stylesheet">
</head>

<body>
{{ partial "site-header.html" .}}

